<button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
  Step 1
</button>

<button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
  Step 2
</button>

<button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
  Step 3
</button>

<button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
  Step 4
</button>

<button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
  Step 5
</button>

<div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--1-col">
    Bonus
  </button>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--1-col">
    Tips
  </button>
</div>

<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col bonus">
  Build a blogging habit
</button>

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--1-col"></div>
<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button> -->
</div>
