<div class="mdl-grid auto">

  <div class="mdl-cell mdl-cell--12-col auto">
    <form action="/stepOne">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-cell mdl-cell--4-col">
        Step 1
      </button>
    </form>

    <form action="/stepTwo">
      <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
        Step 2
      </button>
    </form>

    <form action="/stepThree">
      <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
        Step 3
      </button>
    </form>

    <form action="/stepFour">
      <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
        Step 4
      </button>
    </form>

    <form action="/stepFive">
      <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
        Step 5
      </button>
    </form>
  <!-- </div> -->

      <form action="/bonus">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col">
          Bonus
        </button>
      </form>

      <form action="/tips">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col ">
          Tips
        </button>
      </form>



      <form action="/habit">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col bonus">
          Build a Blogging Habit
        </button>
      </form>
  <!-- </div> -->

  <!-- <div class="mdl-cell mdl-cell--4-col"> -->
    <form action="/progress">
      <button type="submit"class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
        View Progress
      </button>
    </form>
  </div>

</div>
