<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col">
    <center>
    <form action ="/stepOne/">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-cell mdl-cell--2-col">
        Step 1
      </button>
    </form>

    <form action ="/stepTwo/">
      <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col">
        Step 2
      </button>
    </form>

    <form action ="/stepThree/">
      <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col">
        Step 3
      </button>
    </form>

    <form action ="/stepFour/">
      <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col">
        Step 4
      </button>
    </form>

    <form action ="/stepFive/">
      <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--2-col">
        Step 5
      </button>
    </form>
    </center>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
      <form action="/bonus/">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--1-col">
          Bonus
        </button>
      </form>
      <form action="/tips">
        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--1-col">
          Tips
        </button>
      </form>
    </div>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--8-col bonus">
      Build a Blogging Habit
    </button>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-cell mdl-cell--4-col">
      View Progress
    </button>
  </div>
</div>
