<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-card mdl-shadow--2dp demo-card-square mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title mdl-card--expand">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">
          <img src='../img/spaceLogo.png'/>
        </div>
      </div>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam.
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
