<div class="mdl-grid auto">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>{{title}}</h3>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    {{{renderText}}}
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    {{#if src}}
      <img src={{src}} />
    {{/if}}
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <form action={{nextStep}}>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
        {{button}}
      </button>
    </form>
  </div>
  <!--  -->
</div>
