<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div id='content-welcome-tour' class="mdl-card">
      <img src='./public/img/blackProlifiko.png'/>
    </div>

    <div>
     <h1 class="mdl-layout intro">Welcome to Prolifiko</h1>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <form action="/tour">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Start Tour
        </button>
      </form>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      Login
      </button>
    </div>
  </div>


</div>
