<div class="mdl-grid">


    <div class="mdl-card card-square mdl-cell mdl-cell--12-col auto">

      <div class="mdl-card__title mdl-card--expand">
      </div>

      <div class="mdl-card__supporting-text mdl-typography--text-center">
        <h1 class="mdl-card__title-text ">Welcome to Prolifiko</h1>
      </div>


          <form action="/tour">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent auto">
              Start Tour
            </button>
          </form>



        <button class="mdl-button mdl-js-button mdl-js-ripple-effect auto">
        Login
        </button>


    </div>


</div>
