*{
  /*border: 1px dotted black;*/
}

.auto{
  margin: 0 auto;
  width: 100%;
}

.center{
  margin: 0 auto;
}

.card-square.mdl-card {
  width: 325px;
  height: 450px;
}
.card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/public/img/blackProlifiko.png') bottom right 15% no-repeat ;
}

.dates{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.oneDay{
	margin: 0 auto;
}

.topbox{
  margin: 0;
  background-color: #FFF835;
}

.bottombox{
  margin: 0;
}

.selected{
  color: #FFF835;
}
