/**{
  border: 1px dotted black;
}*/

html {
  background-color: #FFFFFF;
  text-align: center;
}

#content-welcome-tour img {
  height: 10em;
  width: 10em;
  margin: auto;
}

.welcomeTour{
  display: flex;
  justify-content: center;
}
