/**{
  border: 1px dotted black;
}*/

.welcome{
  margin: 0 auto;
  text-align: center;
}

.auto{
  margin: 0 auto;
  text-align: center;
}

.inline{
  display: inline-block;
  margin: 0 auto;
  width: 12%;
}

.action-button {
  width: 100%;
  max-width: 300px;
}

.logo img{
  height: 100px;
}

.topbox{
  margin: 0;
  background-color: #FFF835;
}

.bottombox{
  margin: 0 auto;
  text-align: center;
}

.success{
  background-color: #FFF835;
}

.screen {
  max-width: 80vw;
  max-height: 8vh;
}
