/**{
  border:1px dotted black;
}*/

#wrapper {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
    /*display: flex;
    flex-direction: column;*/
    /*background-color: black;*/
}
a:link, a:visited {
    color: #9FA0A3;
    text-decoration: none;
    display:inline-block;
}
@media (max-width: 700px) {

    #wrapper {
        margin: 0 auto;
        border-radius: 0;
        padding: 0;
        width: 260px;
        padding-top: 30px;


    }


    #title h3 {
        color: #F1F1F1;
        width: auto;
        margin: .5em 0 ;
        border-radius: 0;
        padding: 0 1em;
        display: inline-block;
    }

    #burger {
        display: inline-block;
    }

    div{
      text-align: center;
      /*padding-top: 5px;*/
      color: white;
    }
    .mdl-button{
      width: 200px;
      margin: 5px;
      color: white;
    }

    .mdl-button{
      color: white;
    }
    .material-icons{
      color: white;
    }

    #bonus{
      padding-top: 20px;
      color: white;
    }
    .calendar{
      padding: 5px;
      border-radius: 1em;
      float: right;
    }
    #cal{
      color: black;
    }
}
