<footer class="mdl-mini-footer">
  <div class="mdl-card__actions mdl-card--border">
  <div class="mdl-cell--middle mdl-cell--top">

    <a class="mdl-cell mdl-cell--1-col">
      &#x25c0
    </a>

    <a class="mdl-cell mdl-cell--1-col" >
      &#x2022
    </a>
    <a class="mdl-cell mdl-cell--1-col">
      &#x2022
    </a>
    <a class="mdl-cell mdl-cell--1-col">
      &#x2022
    </a>
    <a class="mdl-cell mdl-cell--1-col">
      &#x2022
    </a>
    <a class="mdl-cell mdl-cell--1-col">
      &#x2022
    </a>
    <a class="mdl-cell mdl-cell--1-col">
      &#x25ba
    </a>
</div>
</div>
</footer>
