<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row title-header">
    <span class="mdl-layout-title"><h3>{{title_header}}</h3></span>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/progress">My Progress</a>
    <a class="mdl-navigation__link" href="/info/policy.html">Privacy Policy</a>
    <a class="mdl-navigation__link" href="/info/terms.html">Terms and Conditions</a>
    <a class="mdl-navigation__link" href="/tour">Take the tour</a>
    <a class="mdl-navigation__link" href="">About Prolifiko</a>
    <a class="mdl-navigation__link" href="/tour">About us</a>
  </nav>
</div>
