<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Prolifiko</title>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.grey-yellow.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="public/css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
      {{{content}}}
    </main>
  </div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
</body>
</html>
